body{
    background-color: white;
    font-family: "Comic Sans MS";
    font-size: 14px;
    overflow: scroll;
    margin: 0;
    padding: 0;
}

.topbar{
    background-color: aqua;
    overflow: hidden;
    text-align: center;
    font-size: 16px;
}

.topbar a{
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    font-size: 16px;
}

.topbar a:hover{
    background-color: grey;
    color: white;
}

.mainHello{
    padding-left: 16px;
}

.logo{
    align-content: center;
    text-align: center;
}

.Profiles{
    padding-top: 16px;
    padding-left: 16px;
    overflow-y: scroll;
    white-space: nowrap;
}

.profileContainer{
    gap: 10px;
    grid-template-columns: repeat(6, 1fr);
    padding-left: 16px;
    height: 300px;
    width: 100%;
    overflow-y: scroll;
}

.box{
    background: linear-gradient(to right, lightblue, lightpink);
    border: 1px solid black;
    padding: 16px;
    text-align: center;
    border-radius: 10px;
    overflow-y: scroll;
}

.message{
    border-radius: 10px;
    text-align: center;
    background-color: white;
    border: 1px solid black;
}

.pfp{
    width: 200px;
    height: 200px;
}

#toggle_like.active {
    background-color: red;
    color: white;
  }