body{
  margin: 0;
  padding: 0;
  font-family: "Comic Sans MS";
  background-repeat: no-repeat;
  background-size: cover;
  background: black;
  height: 100vh;
  overflow: hidden;
}

.center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 29vw;
  background: white;
  border-radius: 10px;
  text-align: center;
}

.txt_field{
  padding: 10px;
  box-sizing: border-box;
  border-radius: 10px;
}

.submitter{
  display: flex;
  justify-content: center;
  align-content: center;
  padding-bottom: 10px;
}