<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />
    <title>Fromage</title>
    <script src="../static/loginandcreate.js" ></script>
    <link rel="stylesheet" href="../static/homepage.css" >
</head>
<body>
    <div class="topbar">
        <a class="active" href="">Home</a>
        <a href="login">Log In</a>
        <a href="register">Sign Up</a>
    </div>
    <div class="mainHello">
        <h1>Welcome to Fromage</h1>
        <image id="logo" class="logo" src="../static/logo.png" width="100" height="100"></image>
        <button onclick="rotate()">Click to Flip!</button>
    </div>
    <div class="Profiles">
        <h1>🧀 Profiles For You 🧀</h1>
        {{ dates }}
    </div>
</body>
</html>