<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Pure CSS Login Form</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
      <link rel="stylesheet" href="../static/indexstyle.css"/>
  </head>
  <body>
    <div class="container">
      <div class="center">
          <h1>Login</h1>
          {% if username_not_exist %}
          The credenatials are wrong
          {% endif %}
          <form action="/loginAccount" method="POST">
              <div class="txt_field">
                  <input type="text" name="username" required>
                  <span></span>
                  <label>Username</label>
              </div>
              <div class="txt_field">
                  <input type="password" name="password" required>
                  <span></span>
                  <label>Password</label>
              </div>
              <div class="submitter">
                <input name="submit" type="Submit" value="Login">
              </div>
          </form>
          <a href="register">Sign Up</a>
      </div>
    </div>
  </body>
</html>